streamlit==1.49.1

torch==2.7.1
torchvision==0.22.1

numpy==2.3.1
pandas==2.3.1

matplotlib==3.10.5
plotly==6.2.0

opencv-python-headless==4.10.0.84

Pillow==11.3.0

scikit-image==0.25.2
scikit-learn==1.7.1

git+https://github.com/jacobgil/pytorch-grad-cam.git

reportlab==4.4.3